.clients {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -30px;
    margin-bottom: -30px;
  
  &-list {
    display: flex;
    justify-content: center;
    height: 92px;
    width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #afb1b8;
  }
  
  &-list:hover,
  &-list:hover svg {
    fill: #2196f3;
    border-color: #2196f3;
  }
  
  &-list_icon {
    display: flex;
    align-self: center;
    fill: #afb1b8;
  }
}
  
  .company {
    width: 106px;
    height: 60px;
  }