.lorem-ipsum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    list-style: none;
}
  
  lorem-ipsum-list {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    padding: 25px 0;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #f5f4fa;

  &_icon {
    width: 70px;
    height: 70px;
  }
  
  &_header {
    list-style: none;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  &_description {
    max-width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    list-style-type: none;
    color: #757575;
  }
}